.footer {
  margin-top: 2rem;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text {
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.footer nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  padding-bottom: 2rem;
}

.footer nav a:hover {
  text-decoration: underline;
}