<<<<<<< Updated upstream
.slide {
    text-align: center;
    padding: 1rem; 
  }
  
  .slide img {
    width: 100%; 
  }
  
  h3 {
    margin: 1rem 0 0; 
    font-size: 1.2em; 
    color: #333; 
  }

  h2{
    margin: 2rem 0 0;
    font-size: 3.2em;
    color: #333;
    text-align: center;
  }

  .slick-arrow {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  
=======

.slide {
    padding: 10px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 8px; 
}
>>>>>>> Stashed changes
